.toolbar-spacer{
    flex: 1 1 auto;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
// .mat-sidenav1{
//     width: 280px;
//     color: #fff;
// }

.mat-sidenav-container{
    height: 100vh;
}

.menu-close{
    width: 20%;
}
.menu-open{
    width: 6%;
}
.mat-drawer{
    background: blue;
    color:#fff;
}
.main-content{
    padding: 20px;
}
