.wrapper{
    padding: 10%;
}
mat-card-title{
    background: lightgray;
    padding: 10px;
    text-align: center;
}
.row1{
    margin-top: 10px;
}

.row1 button{
    margin: 5% 0% 5% 10%;
    padding: 10px 75px;
}
.user-image{
    padding-top: 10%;
}
.active{
    border: 2px solid green;
    padding: 4px 20px;
    border-radius: 17px;
    background-color: lightgreen;
    color: white;
}

.inActive{
    border: 2px solid rgb(233, 15, 15);
    padding: 4px 20px;
    border-radius: 17px;
    background-color: red;
    color: white;
}